image_subflow.json
[{"id":"57f69971.5f0778","type":"subflow","name":"msg.imgUrl to display","info":"","category":"","in":[{"x":140,"y":160,"wires":[{"id":"d137b518.c83308"}]}],"out":[],"env":[],"color":"#DDAA99","status":{"x":640,"y":120,"wires":[{"id":"69fdb506.9a27dc","port":0}]}},{"id":"28560aae.826a36","type":"group","z":"57f69971.5f0778","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d137b518.c83308","83361420.667d68","69fdb506.9a27dc"],"x":194,"y":79,"w":392,"h":162},{"id":"d137b518.c83308","type":"function","z":"57f69971.5f0778","g":"28560aae.826a36","name":"Convert Image","func":"const url = msg.imgUrl ? msg.imgUrl : \"http://192.168.0.34:8123\" + msg.payload;\nconst jimp = global.get('Jimp');\ntry{\n    let album_cover = await jimp.read(url).then( (image) => {\n        image.scaleToFit(128,128).quality(94);\n        return image\n    });\n    msg.payload = await album_cover.getBufferAsync(jimp.MIME_JPEG);\n    msg.method = 'POST';\n    msg.headers = { 'Content-Type': 'image/jpeg' };\n    return msg;\n} catch(err) {\n    throw err;\n}\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":160,"wires":[["83361420.667d68","69fdb506.9a27dc"]]},{"id":"83361420.667d68","type":"debug","z":"57f69971.5f0778","g":"28560aae.826a36","name":"hope","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"69fdb506.9a27dc","type":"http request","z":"57f69971.5f0778","g":"28560aae.826a36","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.54/upImg","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":120,"wires":[[]]}]