metadata_subflow.json
[{"id":"38a088c1.cd9fc8","type":"subflow","name":"payload to txt display","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"e9a4687d.f04cc8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"aaa52816.db3028","type":"group","z":"38a088c1.cd9fc8","name":"Send text","style":{"label":true},"nodes":["365ba651.31fd1a","e9a4687d.f04cc8","a4baeee5.d650c"],"x":194,"y":79,"w":372,"h":142},{"id":"365ba651.31fd1a","type":"http request","z":"38a088c1.cd9fc8","g":"aaa52816.db3028","name":"Call Meta","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":180,"wires":[["a4baeee5.d650c"]]},{"id":"e9a4687d.f04cc8","type":"function","z":"38a088c1.cd9fc8","g":"aaa52816.db3028","name":"","func":"msg.url = 'http://192.168.0.54/meta?s='+ encodeURI(msg.payload);\nmsg.headers = {\n    'User-Agent': 'nodered'\n}\nmsg.method = 'GET';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":120,"wires":[["365ba651.31fd1a"]]},{"id":"a4baeee5.d650c","type":"debug","z":"38a088c1.cd9fc8","g":"aaa52816.db3028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":120,"wires":[]}]